
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}


/* Banner Section Started */

.banner-section{
    width: 1440px;
    height: 652px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 50px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
}
.banner-container{
    width: 998px;
    height: 582px;
    margin: 0px auto;
    margin-top: 26px;
    margin-bottom: 44px;
}
.banner-content{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-content img{
    width: 240.28px;
    height: 240px;
    margin-bottom: 20px;
}
.banner-content h1{
    color: rgb(13, 19, 33);
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 25px;
}
.banner-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 30px;
}
.banner-button{
    background: #fecd62;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 35px;
}

/* Banner Section End */

/* Why Web Development Section Started */

.why-dev-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.why-dev-container{
    width: 1140px;
    height: 1395px;
    background: rgba(13, 19, 33, 0.02);
    margin: 0px auto;
    padding-top: 2px;
    border-radius: 15px;
}
.why-dev-row{
    background: #ffffff;
    border-radius: 15px;
    padding: 2px;
}
.why-dev-heading{
    width: 852px;
    height: 115px;
    margin: 0px auto;
}
.why-dev-heading h3{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.why-dev-heading p{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 25px;
}
.why-dev-row{
    width: 946px;
    height: 336px;
    margin: 50px auto;
}
.why-dev-row-sub{
    width: 850px;
    height: 240px;
    margin: 50px auto;
    display: flex;
}
.why-dev-left-column{
    width: 60%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.why-dev-left-column h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
    margin-bottom: 30px;
}
.why-dev-left-column p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    margin-right: 80px;
    margin-bottom: 50px;
}
.btn-primary{
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}
.why-dev-right-column{
    width: 40%;
    height: 240px;
}
.why-dev-right-column img{
    margin-left: 60px;
}

.why-dev-left-column-2{
    width: 40%;
    height: 240px;
}
.why-dev-left-column-2 img{
    margin-right: 60px;
}

.why-dev-right-column-2{
    width: 60%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.why-dev-right-column-2 h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
    margin-bottom: 30px;
}
.why-dev-right-column-2 p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    margin-right: 80px;
    margin-bottom: 50px;
}
.why-dev-left-column-3{
    width: 60%;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.why-dev-left-column-3 h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-right: 70px;
    margin-bottom: 30px;
}
.why-dev-left-column-3 p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    margin-right: 80px;
    margin-bottom: 50px;
}

.why-dev-right-column-3{
    width: 40%;
    height: 240px;
}
.why-dev-right-column-3 img{
    margin-left: 60px;
}

/* Why Web Development Section End */


/* My Inspiration Section Started */

.my-inspiration-container{
    width: 1140px;
    height: 777px;
    margin: 50px auto;
}
.my-inspiration-text{
    width: 852px;
    height: 115px;
    margin: 50px auto;
    text-align: center;

}
.my-inspiration-text h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.my-inspiration-text p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 40px;
    opacity: 0.7;
}
.my-inspiration-video{
    width: 1076px;
    height: 550px;
    margin: 0px auto;
}
.my-inspiration-video iframe{
    width: 100%;
    height: 550px;
    border-radius: 16px;
}

/* My Inspiration Section End */


/* My Current Target Section Started */

.my-current-target-container{
    width: 1140px;
    height: 480px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-current-target-text{
    width: 852px;
    height: 115px;
    margin: 0px auto;
    text-align: center;
}
.my-current-target-text h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.my-current-target-text p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.current-skills-container{
    width: 1140px;
    height: 300px;
    margin: 0px auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.current-skill-content{
    width: 364px;
    height: 300px;
    margin: 0px auto;
    border-radius: 16px;
}
.content-1{
    background: rgba(255, 76, 30, 0.05);
}
.content-2{
    background: rgba(0, 76, 232, 0.05);
}
.content-3{
    background: rgba(255, 223, 0, 0.05);
}
.current-skill{
    width: 284px;
    height: 220px;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.current-skill h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.current-skill p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}
.learn-more a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

/* My Current Target Section End */

/* My Next Target Section Started */

.my-next-target-container{    
    width: 1140px;
    height: 866px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-next-target-text{
    width: 852px;
    height: 113px;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
}
.my-next-target-text h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 20px;
}
.my-next-target-text p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}
.my-next-target-content{
    width: 1140px;
    height: 219px;
    margin: 0px auto;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 16px;
    border: 1px solid black;
}
.next-target-img{
    width: 15%;
    height: 219px;
}
.next-target-img img{
    margin-left: 20px;
    margin-top: 60px;
}
.next-target-text{
    width: 941.22px;
    height: 139px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}
.next-target-text h4{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 20px;
}
.next-target-text p{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    opacity: 0.7;
}

/* My Next Target Section Started */

/* Need Support Section Started */

.support-section-container{
    width: 1140px;
    height: 314px;
    margin: 50px auto;
    background-image: url('../assets/handshake.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 16px;
    padding: 2px;
}
.support-section-content{
    width: 1044px;
    height: 186px;
    margin: 0px auto;
    margin-top: 65px;
    margin-bottom: 65px;
}
.support-section-text{
    width: 730px;
    height: 104px;
    margin: 0px auto;
    color: #ffffff;
    text-align: center;
}
.support-section-text h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 20px;
}
.support-section-text p{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 20px;
}
.support-box{
    width: 684px;
    height: 58px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.box{}
.box input{
    width: 548px;
    height: 57px;
    padding-left: 30px;
    border-radius: 10px;
}
.box input, placeholder{
    font-size: 16px;
}
.sub-btn{}
.sub-btn button{
    width: 120px;
    height: 58px;
    border-radius: 10px;   
    font-weight: 600;
    line-height: 19px;
    cursor: pointer;

}
.s-btn{
    font-size: 18px;
}

/* Need Support Section End */

/* Footer Section Started */

.footer-container{
    width: 1440px;
    height: 100px;
    margin: 50px auto;
    background: rgba(13, 19, 33, 0.03);
    border-radius: 16px;
    padding-top: 2px;
}
.footer-content{
    width: 1140px;
    height: 36px;
    margin: 0px auto;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}
.footer-text h3{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.footer-icons{}
.footer-icons a{
    margin-right: 20px;
}

/* Footer Section End */

